# data provider libraries
alpha-vantage==2.0.0

# numeric computation libraries
numpy==1.14.2
pandas==0.22.0

# http libraries
requests==2.18.4
ratelimit==2.2.0

# database libraries
pymongo==3.6.1

# parser libraries
beautifulsoup4==4.6.0
lxml==4.2.1
ruamel.yaml==0.15.37

# test libraries
pytest==3.5.0
mongomock==3.9.0